body, html {
  background-color: black;
}

#lines {
  background-size: 50px 50px;
  background-image: repeating-linear-gradient(0deg, #541e72, #541e72 1px, transparent 1px, transparent 50px),repeating-linear-gradient(-90deg, #541e72, #541e72 1px, transparent 1px, transparent 50px);
  height: 200%;
  width: 100%;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -4;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
}

.link {
  stroke: #ccc;
  stroke-width: 1.5px;
}

svg 
{
position:absolute; top:50%; left:50%; height:1440px; margin-top:-720px; width:1440px; margin-left:-720px; /* negative half of the height */}

}